:root {
  --light-bg: #f9fafb;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* sets base font size to 10px */
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Norse-Bold";
  src: url(./Norse-Bold.otf);
}

body {
  display: flex;
  font-family: "Courier New", Courier, monospace;
}

img {
  height: auto;
  width: 10rem;
}

.left {
  height: 100vh;
  width: 40%;
  background-image: url("./images/leaves.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left .left-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20rem;
  background: rgba(0, 0, 0, 0.4);
  padding: 3rem;
  width: 100%;
}

p {
  color: white;
  font-size: 10rem;
  font-family: "Norse-Bold", "Times New Roman", Times, serif;
}

footer {
  color: white;
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  padding: 4rem;
}

.right {
  height: 100vh;
  width: 60%;
  background: var(--light-bg);
}
