:root {
  --light-bg: #f9fafb;
  --medium-font: 2.2rem;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* sets base font size to 10px */
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Norse-Bold";
  src: url(./Norse-Bold.otf);
}

body {
  display: flex;
  font-family: "Courier New", Courier, monospace;
}

img {
  height: auto;
  width: 10rem;
}

.left {
  height: 100vh;
  width: 40%;
  background-image: url("./images/leaves.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left .left-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20rem;
  background: rgba(0, 0, 0, 0.4);
  padding: 3rem;
  width: 100%;
}

p.logo-name {
  color: white;
  font-size: 10rem;
  font-family: "Norse-Bold", "Times New Roman", Times, serif;
}

footer {
  color: white;
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  padding: 4rem;
}

.right {
  height: 100vh;
  width: 60%;
  background: var(--light-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right .heading,
form,
.account {
  padding: 5rem;
}

.right .heading {
  font-size: var(--medium-font);
  font-weight: bold;
}

.right .heading p:nth-child(3) {
  margin-top: 3rem;
}

form {
  background: white;
  box-shadow: rgba(63, 63, 63, 0.35) 0px 3px 5px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  display: flex;
  gap: 5rem;
}

.row .row-child {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1.55rem;
}
input {
  width: 30rem;
  border: 0.25px solid #e5e7eb;
  border-radius: 0.5rem;
  height: 3rem;
  padding: 1rem;
}

input[type="text"]:focus {
  outline: none;
  border: 1px solid blue;
  border-radius: 0.5rem;
  box-shadow: rgba(63, 63, 63, 0.35) 1px 2px 2px;
}

form h3 {
  font-size: var(--medium-font);
}

.hidden {
  color: red;
  font-size: 1.2rem;
  margin-top: 1.2rem;
}

.account button {
  background-color: #596d48;
  padding: 2rem 7rem;
  color: white;
  border-radius: 1.25rem;
  border: unset;
  font-size: 2rem;
  font-weight: bold;
}

.account p {
  margin-top: 2rem;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: black;
}

.account p span {
  color: #596d48;
}
